html {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

header img {

    width: 120px;
    height: 120px;
}

footer {
    background-color: rgb(0, 179, 39);
    text-align: center;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}
main {

    text-align: center;
    
}

main p {
   color: rgb(0, 0, 0);
    text-align: center;
}
main image { 
    text-align: center;

} 


header h1{
    background-color: rgb(0, 179, 39);
    text-align: center;
    color: rgb(0, 0, 0);} 